/* Skeleton V2.0.4 */
.container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; } }

@media (min-width: 768px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child, .columns:first-child, .alpha, .one-half.column:nth-child(odd) {
    margin-left: 0; }
  .one.column, .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns, .full.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 50%;
    margin-left: 0; }
  .squashed, .no_left_margin {
    margin-left: 0; }
    .squashed:first-child, .no_left_margin:first-child {
      margin-left: 4%; }
  .one-third.column.no_left_margin {
    width: 34.6666666667%; }
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%; } }

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

::selection {
  color: #fff;
  background: #000;
  text-shadow: none !important; }

::-moz-selection {
  color: #fff;
  background: #000;
  text-shadow: none !important; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 20px; }
  p:last-child {
    margin-bottom: 0px; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.8;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: #454545;
  -webkit-font-smoothing: antialiased; }

.pagination ul {
  margin: 30px 0px 10px 0px; }
  .pagination ul li {
    display: inline-block;
    margin: 0px 10px; }
    .pagination ul li.active a {
      background: #000; }
    .pagination ul li a {
      -webkit-transition: background 1s ease-out;
      -moz-transition: background 1s ease-out;
      -ms-transition: background 1s ease-out;
      -o-transition: background 1s ease-out;
      transition: background 1s ease-out;
      display: inline-block;
      font: 400 normal 1.6rem/1.6rem Helvetica, Arial, sans-serif;
      padding: 16px 20px;
      text-decoration: none;
      background: #000;
      color: #fff; }
      .pagination ul li a:hover {
        -webkit-transition: background 0.5s ease-in;
        -moz-transition: background 0.5s ease-in;
        -ms-transition: background 0.5s ease-in;
        -o-transition: background 0.5s ease-in;
        transition: background 0.5s ease-in;
        text-decoration: none;
        background: #000;
        color: #fff; }

img.alignright, .wp-caption.alignright {
  float: right;
  margin: 0 0 0.8em 0.8em;
  max-width: 100%;
  height: auto; }

img.alignleft, .wp-caption.alignleft {
  float: left;
  margin: 0 0.8em 0.8em 0;
  max-width: 100%;
  height: auto; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto; }

img.alignnone {
  max-width: 100%;
  height: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption-text {
  font-weight: bold;
  text-align: center;
  margin-top: 3px; }
