/* Header */

header {
	margin: 20px 0px;
}

/* Navigation */

ul.nav {
	margin: 20px 0px;
}

ul.nav li {
	font-size: 14px;
	display: inline;
	padding-left: 15px;
}

ul.nav li:nth-child(1) {
	padding-left: 0px;
}

/* Footer */

footer {
	margin: 20px 0px;
}

/* ––––––––––––– Media Queries –––––––––––––  */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
